################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/day1/bin/Debug
/day1/obj/Debug
*/bin
*/obj